<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css"
</head>

<body>
  <!-- <img src="http://www.thinkgeek.com/images/products/additional/large/1380_team_fortress_balloonicorn_vinyl_figure_inhand.jpg"> -->
  <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ratings</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/movies">Movies</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      {% if session.get("user_id") %}
        <ul class="nav navbar-nav">
          <li><a href="/logout">Logout</a></li>
        </ul>
      {% else %}
        <form action="/login" method="POST" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email">
            <input type="text" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
      {% endif %}
      {% if session.get("user_id") %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/{{ session['user_id'] }}">Your Profile</a></li>
        </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




    
<!-- commented out original code, as it is now mixed into the bootstrap above-->
<!--   {% if session.get("user_id") %}
    <a href="/logout">Logout</a>
    <a href="/users/{{ session['user_id'] }}">Your Ratings</a>
  {% else %}
    <p>Login</p>

    <form action="/login" method="POST">
      Email<input type="text" name="email">
      Password<input type="text" name="password">
      <input type="submit" value="Login">
    </form>
  {% endif %} -->

    <ul>
      {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
      {% endfor %}
    </ul>

    <hr>

    {% block content %} put your content here {% endblock %}
  </div>
</body>
</html>