<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <link rel="stylesheet" href="../static/style.css"
</head>

<body>
  <!-- <img src="http://www.thinkgeek.com/images/products/additional/large/1380_team_fortress_balloonicorn_vinyl_figure_inhand.jpg"> -->

  <a href="/">Homepage</a>

{% if session.get("user_id") %}
  <a href="/logout">Logout</a>
  <a href="/users/{{ session['user_id'] }}">Your Ratings</a>
{% else %}
  <p>Login</p>

  <form action="/login" method="POST">
    Email<input type="text" name="email">
    Password<input type="text" name="password">
    <input type="submit" value="Login">
  </form>
{% endif %}

  <ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
  </ul>

  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>