{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
    <h2>Movies</h2>
    <p><a href="/movies">View all movies</a></p>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
    <h2>Users</h2>
    <p><a href="/users">View all users</a></p>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
    <a href="/add_user"><h2>Add Yoself!</h2></a>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>


<!-- <h2>Movies</h2>
<p><a href="/movies">View all movies</a></p>

<h2>Users</h2>
<p><a href="/users">View all users</a></p>

<a href="/add_user">Add Yoself!</a> -->

{% endblock %}