{% extends 'base.html' %}
{% block content %}

<p>Movie: <a href="{{ url }}">{{ title }}</a></p>

{% if session.get("user_id") %}
  <p>Your rating: {{ user_rating[1] }}</p>
  <form action="/new-rating" method="POST">
    <p>Would you like to update your rating?</p>
    New rating: <input type="text" name="new_rating">
    <input type="hidden" name="movie_id" value="{{ movie_id }}">
    <input type="submit" value="Update!!!">
  </form>
{% endif %}

<p>Average rating: {{ average }}</p>
{% if prediction %}
    <p>We predict you will rate this movie {{ prediction }}.</p>
{% endif %}


<table>
    <tr>
        <th>User ID</th>
        <th>Score</th>
    </tr>
    {% for rating in movie_ratings %}
    <tr>
        <td><a href="/users/{{ rating[0] }}">{{ rating[0] }}</a></td>
        <td>{{ rating[1] }}</td>
    </tr>
    {% endfor %}
</table>

    

{% endblock %}